.box_search{
    label{
        display:block;
        font-size:24px;
        font-weight: bold;
        text-transform: uppercase
    }
    .tf_comm{
        padding-right:80px;
        position:relative;
        input{
            border: 1px solid #bbb;
        }
        button{
            position:absolute;
            bottom:0;
            right:0;
            width:70px;
            height:44px;
        }
    }
    
}